@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap");

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {
            // 600px
            @content;
        }
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {
            // 900px
            @content;
        }
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {
            // 1200px
            @content;
        }
    }
    @if $breakpoint == big-desktop {
        @media (max-width: 112.5em) {
            // 1800px
            @content;
        }
    }
}

.page-container {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
}

.page-header {
    margin-bottom: 200px;

    @include respond(tab-land) {
        margin-bottom: 100px;
    }

    @include respond(phone) {
        margin-bottom: 0;
    }

    &__title {
        font-family: "Inconsolata", monospace;
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
    }
}

.page-main {
    display: flex;
    margin-bottom: 50px;

    @include respond(tab-land) {
        flex-direction: column;
    }

    &-text {
        width: 30%;
        margin-left: 100px;

        @include respond(tab-land) {
            margin-left: 0;
            width: 100%;
            text-align: center;
        }

        @include respond(phone) {
            text-align: left;
        }
    }

    &__image-container {
        width: 40%;
        margin: 0;

        @include respond(tab-land) {
            width: 100%;
        }
    }

    &__image {
        width: 100%;

        @include respond(tab-land) {
            height: 400px;
            object-fit: contain;
        }

        @include respond(phone) {
            height: 150px;
        }
    }

    &__mainText {
        font-family: "Space Mono";
        font-weight: bold;
        font-size: 64px;
        letter-spacing: -0.035em;
        color: #333333;
        margin-bottom: 36px;
        margin-top: 0;

        @include respond(phone) {
            font-size: 45px;
            margin-bottom: 30px;
        }
    }

    &__description {
        font-family: "Space Mono";

        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.035em;
        color: #4f4f4f;
        margin-bottom: 64px;

        @include respond(phone) {
            font-size: 18px;
        }
    }

    &__button {
        padding: 24px 43px;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.035em;
        text-transform: uppercase;
        color: #ffffff;
        background: #333333;
        cursor: pointer;
        border: none;
    }
}

.page-footer {
    text-align: center;
}
